*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.team-section{
    /* padding-bottom: 4rem; */
    overflow: hidden;
    text-align: center;
    background: #091929;
    padding: 60px;
}
hr {
    margin-top: 4rem;
}
.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: turquoise;
    margin-bottom: 40px;   
}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height:160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s;
}
.ps a:hover > img{
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify; 
    height: 0;
    overflow: hidden;
}
.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;

}
.WhatWeDo{
    overflow: hidden;
    text-align: center;
    background: #091929;
    padding: 60px;
}
.WhatWeDo h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;   
}
.WhatWeDo p{
    text-transform: lowercase;
    margin-bottom: 60px;
    color: white;
    font-size: 15px;
}

.para-whatwedo {
    text-align: justify;
}
.ContactUs{
    overflow: hidden;
    text-align: center;
    background: #091929;
    padding: 60px;
}
hr {
    margin-top: 4rem;
}
.ContactUs h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
.contact-items{
    width: 400px;
}
.contact-item{
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
    box-decoration-break: slice;
}
.contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
.icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: pink;
}
.contact-info h1{
    font-size: 2.5 rem;
    font-weight: 500;
}
#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
}