*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
    border: 1px solid white;
    border-radius: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navlist{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 20px 25px;
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li a:hover{
    text-decoration: none;
    color:grey;
}
.rightnav{
    width: 50%;
    text-align: right;
    padding: 20px;
}
#Search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('/Images/image3.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;

}
.firstSection{
    height: 100vh;
}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width: 30%;
}
.secondhalf img{
    width:100%;
    border: 2px solid white;
    border-radius: 200px;
    display: block;
    margin: auto;

}
.textbig{
    font-size: 35px;
}
.textsmall{
    font-size: 15px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 0px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}