
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    float: left;
    width: 50%;
    border: 1px solid white;
    border-radius: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navlist{
    width: 100%;
    display: flex;
    font-size: larger;
}
.navlist li{
    list-style: none;
    padding: 30px 60px;
}
nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav li a:hover{
    text-decoration: none;
    color:rgb(102, 173, 255);
}
.background{
    background-size: cover;
    background-blend-mode: darken;
}